Repository Angular-RU/angular-ru-sdk, pull requests merged in 2021-07, with the labels that each got.

#710 feat(@angular-ru/common): remove 'null' as empty value
  BREAKING_CHANGES.md
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/typings/src/empty-value.ts
  packages/common/utils/src/check-value-is-empty.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
Labels: comp: @angular-ru/common, comp: @angular-ru/ng-excel-builder, comp: @angular-ru/ng-table-builder

#709 feat(@angular-ru/common): add mapObject function
  packages/common/docs/object.md
  packages/common/integration/tests/object/object.spec.ts
  packages/common/object/src/public_api.ts
  packages/common/object/src/shallow-map-object.ts
Labels: comp: @angular-ru/common

#713 fix(@angular-ru/ng-table-builder): set async stub for trigger onChanges
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
Labels: comp: @angular-ru/ng-table-builder

#714 feat(@angular-ru/eslint-config): required new line after import
  packages/common/array/src/unique-array-of.ts
  packages/common/number/src/number-format/number-format.ts
  packages/common/pipes/src/deep-path/deep-path.pipe.ts
  packages/common/pipes/src/includes/includes.pipe.ts
  packages/eslint-config/index.js
  packages/flex-layout/src/directives/flex-bottom-indent.directive.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/logger/src/logger.injector.ts
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-table-builder/setup-jest.ts
  packages/websocket/setup-jest.ts
Labels: comp: @angular-ru/common, comp: @angular-ru/eslint-config, comp: @angular-ru/flex-layout, comp: @angular-ru/http, comp: @angular-ru/logger, comp: @angular-ru/ng-excel-builder, comp: @angular-ru/ng-table-builder

#715 build: remove redundant
  packages/eslint-config/integration/assets/i18n/a/ru.txt
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.txt
Labels: comp: @angular-ru/eslint-config

#716 build(@angular-ru/flex-layout): correct resolve paths
  packages/flex-layout/tsconfig.app.json
  packages/flex-layout/tsconfig.base.json
  packages/flex-layout/tsconfig.json
  packages/flex-layout/tsconfig.lib.json
  packages/tsconfig/tsconfig.json
Labels: comp: @angular-ru/flex-layout, comp: @angular-ru/tsconfig

#717 build: use es2015 by default
  packages/common/integration/tests/nodejs/ts-utils.spec.ts
  packages/common/tsconfig.app.json
  packages/common/tsconfig.base.json
  packages/common/tsconfig.lib.json
  packages/common/tsconfig.spec.json
  packages/flex-layout/tsconfig.app.json
  packages/http/tsconfig.app.json
  packages/http/tsconfig.lib.json
  packages/logger/tsconfig.app.json
  packages/logger/tsconfig.lib.json
  packages/ng-excel-builder/tsconfig.app.json
  packages/ng-excel-builder/tsconfig.lib.json
  packages/ng-table-builder/tsconfig.app.json
  packages/ng-table-builder/tsconfig.lib.json
  packages/stream/tsconfig.app.json
  packages/stream/tsconfig.lib.json
  packages/tooltip/tsconfig.app.json
  packages/tooltip/tsconfig.lib.json
  packages/websocket/tsconfig.lib.json
Labels: comp: @angular-ru/common, comp: @angular-ru/flex-layout, comp: @angular-ru/http, comp: @angular-ru/logger, comp: @angular-ru/ng-excel-builder, comp: @angular-ru/ng-table-builder, comp: @angular-ru/stream, comp: @angular-ru/tooltip

#711 fix(ng-table-builder): table features and typings
  packages/common/docs/number.md
  packages/common/integration/tests/number/number.spec.ts
  packages/common/number/src/to-number.ts
  packages/common/table-utils/src/interfaces/rules-descriptor.ts
  packages/ng-excel-builder/src/domain/column-parameters.ts
  packages/ng-excel-builder/src/domain/excel-workbook.ts
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/styles/cell.scss
  packages/ng-table-builder/src/table-builder.component.ts
Labels: comp: @angular-ru/common, comp: @angular-ru/ng-excel-builder, comp: @angular-ru/ng-table-builder

#718 feat(@angular-ru/common): update default date suggestion map
  packages/common/date/src/date-suggestion/domain/enums/default-date-interval-suggestion.ts
  packages/common/date/src/date-suggestion/properties/default-suggestion-strategy-map.ts
  packages/common/docs/date-suggestion.md
  packages/common/integration/tests/date/date-suggestion.spec.ts
Labels: comp: @angular-ru/common

#719 feat: added empty array as no value for the form
  packages/common/integration/tests/validators/required-some-value-by-keys-validator.spec.ts
  packages/common/validators/src/required-some-value-by-keys.validator.ts
Labels: comp: @angular-ru/common

#720 feat: added regexp REG_EXP_INTEGERS_SEPARATED_BY_COMMA
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/public_api.ts
Labels: comp: @angular-ru/common

#712 feat(@angular-ru/ngx-table-builder): added extensibility and height n…
  packages/ng-table-builder/integration/app/src/samples/sample-twelve/sample-twelve.component.html
  packages/ng-table-builder/integration/tests/directives/auto-height.directive.spec.ts
  packages/ng-table-builder/integration/tests/pipes/get-client-height.pipe.spec.ts
  packages/ng-table-builder/integration/tests/pipes/get-free-size.pipe.spec.ts
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.html
  packages/ng-table-builder/src/components/ngx-header/ngx-header.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/operators/get-client-height.ts
  packages/ng-table-builder/src/pipes/get-client-height.pipe.ts
  packages/ng-table-builder/src/pipes/get-free-size.pipe.ts
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.scss
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/table-builder.module.ts
Labels: comp: @angular-ru/ng-table-builder

#722 build: force bump versions
  .prettierignore
  lerna.json
  packages/build-tools/package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/flex-layout/package.json
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/package.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/not-found.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/simple-mock.component.ts
  packages/ng-table-builder/integration/tests/helpers/mocks/template-mock.component.ts
  packages/ng-table-builder/package.json
  packages/prettier-config/package.json
  packages/renovate-config/package.json
  packages/stream/package.json
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
Labels: comp: @angular-ru/build-tools, comp: @angular-ru/commitlint-config, comp: @angular-ru/common, comp: @angular-ru/eslint-config, comp: @angular-ru/eslint-plugin, comp: @angular-ru/flex-layout, comp: @angular-ru/http, comp: @angular-ru/jest-utils, comp: @angular-ru/logger, comp: @angular-ru/ng-excel-builder, comp: @angular-ru/ng-table-builder, comp: @angular-ru/prettier-config, comp: @angular-ru/renovate-config, comp: @angular-ru/stream, comp: @angular-ru/tooltip, comp: @angular-ru/tsconfig

#725 fix(@angular-ru/ng-table-builder): fix styles of expand button
  packages/ng-table-builder/src/table-builder.component.scss
Labels: comp: @angular-ru/ng-table-builder

#726 feat(@angular-ru/ng-table-builder): expand state to TableUpdateSchema
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/table-builder.component.ts
Labels: comp: @angular-ru/ng-table-builder

#727 build: use global angular.json
  angular.json
  packages/common/angular.json
  packages/common/integration/tests/directives/filter/filter-simple-input.spec.ts
  packages/common/package.json
  packages/flex-layout/angular.json
  packages/flex-layout/package.json
  packages/http/angular.json
  packages/http/package.json
  packages/logger/angular.json
  packages/logger/package.json
  packages/ng-excel-builder/angular.json
  packages/ng-excel-builder/package.json
  packages/ng-table-builder/angular.json
  packages/ng-table-builder/package.json
  packages/stream/angular.json
  packages/stream/package.json
  packages/tooltip/angular.json
  packages/tooltip/package.json
  packages/websocket/angular.json
  packages/websocket/package.json
Labels: comp: @angular-ru/common, comp: @angular-ru/flex-layout, comp: @angular-ru/http, comp: @angular-ru/logger, comp: @angular-ru/ng-excel-builder, comp: @angular-ru/ng-table-builder, comp: @angular-ru/stream, comp: @angular-ru/tooltip

#730 feat: add Angular 12
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/auto_assign.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
  .styles/integration-app.style.scss
  CONTRIBUTING.md
  angular.json
  package.json
  packages/build-tools/package.json
  packages/common/integration/app/polyfills.ts
  packages/common/package.json
  packages/eslint-config/package.json
  packages/flex-layout/integration/app/polyfills.ts
  packages/flex-layout/package.json
  packages/http/integration/app/polyfills.ts
  packages/http/package.json
  packages/jest-utils/package.json
  packages/logger/integration/app/polyfills.ts
  packages/logger/package.json
  packages/ng-excel-builder/integration/app/polyfills.ts
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-table-builder/integration/app/polyfills.ts
  packages/ng-table-builder/package.json
  packages/ng-table-builder/setup-jest.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/prettier-config/package.json
  packages/stream/integration/app/polyfills.ts
  packages/stream/integration/app/src/app.component.html
  packages/stream/package.json
  packages/stream/setup-karma.ts
  packages/tooltip/integration/app/polyfills.ts
  packages/tooltip/package.json
  packages/tsconfig/package.json
  packages/websocket/package.json
  packages/websocket/setup-jest.ts
  yarn.lock
Labels: comp: @angular-ru/build-tools, comp: @angular-ru/common, comp: @angular-ru/eslint-config, comp: @angular-ru/flex-layout, comp: @angular-ru/http, comp: @angular-ru/jest-utils, comp: @angular-ru/logger, comp: @angular-ru/ng-excel-builder, comp: @angular-ru/ng-table-builder, comp: @angular-ru/prettier-config, comp: @angular-ru/stream, comp: @angular-ru/tooltip, comp: @angular-ru/tsconfig

#748 feat(@angular-ru/ng-table-builder): add public method filterBySubstring
  packages/ng-table-builder/src/table-builder.component.ts
Labels: comp: @angular-ru/ng-table-builder

#749 fix(@angular-ru/renovate-config): set masterIssueApproval as false
  packages/renovate-config/package.json
Labels: comp: @angular-ru/renovate-config

#755 fix(@angular-ru/ng-table-builder): additional substring processing in…
  packages/ng-table-builder/src/table-builder.component.ts
Labels: comp: @angular-ru/ng-table-builder

#756 feat(@angular-ru/ng-excel-builder): added generalColumnParameters
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-8-auto-width.xls
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
Labels: comp: @angular-ru/ng-excel-builder

#765 feat(tsconfig.json): flat version with Angular 12
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
Labels: comp: @angular-ru/tsconfig

#767 feat(typescript): add @angular-ru/typescript package
  BREAKING_CHANGES.md
  README.md
  packages/tsconfig/README.md
  packages/typescript/README.md
  packages/typescript/package.json
  packages/typescript/tsconfig.json
  tsconfig.json
Labels: comp: @angular-ru/tsconfig

#768 feat: rename to dev-dependencies
  BREAKING_CHANGES.md
  README.md
  packages/build-tools/README.md
  packages/dev-dependencies/README.md
  packages/dev-dependencies/package.json
Labels: comp: @angular-ru/build-tools

#769 Ci/dev
  BREAKING_CHANGES.md
  README.md
  packages/commitlint-config/README.md
  packages/commitlint-config/package.json
  packages/dev-dependencies/package.json
  packages/typescript/package.json
Labels: comp: @angular-ru/commitlint-config
