Repository Angular-RU/angular-ru-sdk, pull requests merged in 2021-09, with the labels that each got.

#972 ci: refactor workflow
  .github/labels.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .scripts/build.ts
  .scripts/format.ts
  .scripts/integration.ts
  .scripts/lint.ts
  .scripts/postinstall.ts
  .scripts/symlink.ts
  .scripts/test.ts
  .scripts/utils/get-packages.ts
  .scripts/utils/packages-graph.ts
  .scripts/verify-ng-major.ts
  commitlint.config.js
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-plugin-enterprise/src/index.ts
  package.json
  packages/cdk/package.json
Labels: comp: @angular-ru/dev-dependencies, comp: @angular-ru/eslint-plugin-enterprise, comp: @angular-ru/cdk

#974 ci: refactor workflow
  .github/workflows/build.yml
  dev-infra/eslint-config-enterprise/tsconfig.base.json
  dev-infra/eslint-plugin-enterprise/tsconfig.json
  dev-infra/jest/tsconfig.base.json
  packages/cdk/integration/apps/cdk/assets/.gitkeep
  packages/cdk/integration/apps/excel/tsconfig.app.json
  packages/cdk/integration/apps/flex-layout/styles.scss
  packages/cdk/integration/apps/flex-layout/tsconfig.app.json
  packages/cdk/integration/apps/http/assets/.gitkeep
  packages/cdk/integration/apps/http/src/services/clients/api.client.ts
  packages/cdk/integration/apps/http/styles.scss
  packages/cdk/integration/apps/http/tsconfig.app.json
  packages/cdk/integration/apps/logger/tsconfig.app.json
  packages/cdk/integration/apps/tooltip/styles.scss
  packages/cdk/integration/apps/tooltip/tsconfig.app.json
  packages/cdk/integration/apps/virtual-table/assets/.gitkeep
  packages/cdk/integration/apps/virtual-table/tsconfig.app.json
  packages/cdk/tsconfig.base.json
  packages/ngxs/integration/app/tsconfig.app.json
  packages/ngxs/tsconfig.base.json
Labels: comp: @angular-ru/jest, comp: @angular-ru/eslint-plugin-enterprise, comp: @angular-ru/cdk, comp: @angular-ru/eslint-config-enterprise

#975 feat(cdk): add 'isBoolean' utility
  packages/cdk/docs/utils.md
  packages/cdk/integration/tests/jest/utils/utils.spec.ts
  packages/cdk/utils/src/is-boolean.ts
  packages/cdk/utils/src/public_api.ts
Labels: comp: @angular-ru/cdk
