Repository Angular-RU/angular-ru-sdk, pull requests merged in 2021-06, with the labels that each got.

#641 feat(@angular-ru/common): add Includes pipe
  packages/common/docs/pipes.md
  packages/common/integration/tests/pipes/includes-pipe.spec.ts
  packages/common/pipes/src/includes/includes-pipe.module.ts
  packages/common/pipes/src/includes/includes.pipe.ts
  packages/common/pipes/src/public_api.ts
Labels: comp: @angular-ru/common

#646 feat: add transform-date-to-format
  packages/common/class-transformer/src/public_api.ts
  packages/common/class-transformer/src/transform-date-to-format.ts
  packages/common/docs/class-transformer.md
  packages/common/integration/tests/class-transformer/class-transformer.spec.ts
Labels: comp: @angular-ru/common

#647 refactor(@angular-core/jwt): change decode-jwt signature
  packages/stream/integration/tests/browser/jwt.spec.ts
  packages/stream/jwt/src/decode-jwt.ts
Labels: comp: @angular-ru/stream

#650 feat: refactor before integrate strict-boolean-expressions
  packages/common/array/src/unique-array-of.ts
  packages/common/class-transformer/src/transform-to-class.ts
  packages/common/class-transformer/src/transform-to-pretty-format.ts
  packages/common/coercion/package.json
  packages/common/coercion/src/coerce-boolean.ts
  packages/common/coercion/src/public_api.ts
  packages/common/date/src/shift-date/shift-date.ts
  packages/common/date/src/to-format-date-time.ts
  packages/common/date/src/to-format.ts
  packages/common/date/src/to-iso-string.ts
  packages/common/date/src/to-pretty-format.ts
  packages/common/date/src/to-timestamp.ts
  packages/common/decorators/src/attribute-boolean.ts
  packages/common/integration/tests/coercion/coercion.spec.ts
  packages/common/typings/src/input-boolean.ts
  packages/eslint-config/index.js
  packages/tooltip/src/tooltip.directive.ts
Labels: comp: @angular-ru/common, comp: @angular-ru/eslint-config, comp: @angular-ru/tooltip

#651 fix(ng-table-builder): fixed bug with rows rendering
  packages/ng-table-builder/src/table-builder.component.html
Labels: comp: @angular-ru/ng-table-builder

#637 feat: added filter-characters directive
  packages/common/directives/src/filter/filter.directive.ts
  packages/common/directives/src/filter/filter.module.ts
  packages/common/directives/src/public_api.ts
  packages/common/docs/directives.md
  packages/common/docs/utils.md
  packages/common/integration/tests/directives/filter/filter-dynamic.spec.ts
  packages/common/integration/tests/directives/filter/filter-form.spec.ts
  packages/common/integration/tests/directives/filter/filter-input.spec.ts
  packages/common/integration/tests/string/filter.spec.ts
  packages/common/string/src/filter.ts
  packages/common/string/src/public_api.ts
Labels: comp: @angular-ru/common

#652 feat(@angular-ru/common): add CoerceBoolean pipe
  packages/common/docs/pipes.md
  packages/common/pipes/src/coerce-boolean/coerce-boolean-pipe.module.ts
  packages/common/pipes/src/coerce-boolean/coerce-boolean.pipe.ts
  packages/common/pipes/src/public_api.ts
Labels: comp: @angular-ru/common

#655 Feat/filter guide
  packages/common/integration/app/src/samples/guide/guide.component.html
  packages/common/integration/app/src/samples/guide/guide.component.ts
  packages/common/integration/app/src/samples/guide/guide.module.ts
  packages/common/string/src/filter.ts
Labels: comp: @angular-ru/common

#656 feat(@angular-ru/common): add isFalsy, isTruthy
  packages/common/docs/utils.md
  packages/common/utils/src/is-falsy.ts
  packages/common/utils/src/is-truthy.ts
  packages/common/utils/src/public_api.ts
Labels: comp: @angular-ru/common

#654 refactor(ng-table-builder): added timeout for prerendering
  packages/ng-table-builder/src/config/table-global-options.ts
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.ts
Labels: comp: @angular-ru/ng-table-builder

#657 feat(@angular-ru/common): add fallbackIfEmpty function
  packages/common/docs/utils.md
  packages/common/integration/tests/utils/utils.spec.ts
  packages/common/typings/src/empty-value.ts
  packages/common/utils/src/fallback-if-empty.ts
  packages/common/utils/src/public_api.ts
Labels: comp: @angular-ru/common

#659 fix(ng-table-buider): removed last changes
  packages/ng-table-builder/src/table-builder.component.ts
Labels: comp: @angular-ru/ng-table-builder

#639 feat: added eslint-plugin-i18n-json
  packages/eslint-config/index.js
  packages/eslint-config/integration/assets/i18n/a/ru.json
  packages/eslint-config/integration/assets/i18n/a/ru.txt
  packages/eslint-config/integration/assets/i18n/ru.json
  packages/eslint-config/integration/assets/ru.json
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.json
  packages/eslint-config/integration/tests/file-suites/i18n/a/bad.txt
  packages/eslint-config/integration/tests/file-suites/i18n/bad.json
  packages/eslint-config/integration/tests/file-suites/i18n/good.json
  packages/eslint-config/integration/tests/test-i18n.spec.ts
  packages/eslint-config/integration/tests/test.spec.ts
  packages/eslint-config/package.json
  packages/ng-excel-builder/integration/app/assets/i18n/ru.json
  yarn.lock
Labels: comp: @angular-ru/eslint-config, comp: @angular-ru/ng-excel-builder

#662 fix(@angular-ru/common): prevent invalid date time
  packages/common/date/src/to-iso-string.ts
  packages/common/integration/tests/date/serial-date.spec.ts
Labels: comp: @angular-ru/common

#665 feat(common): added regexp constants
  packages/common/docs/regexp.md
  packages/common/integration/tests/regexp/regexp-constants.spec.ts
  packages/common/integration/tests/regexp/regexp-utils.spec.ts
  packages/common/regexp/src/constants.ts
  packages/common/regexp/src/matched-by-regexp.ts
  packages/common/regexp/src/public_api.ts
  packages/common/regexp/src/utils/ensure-regexp.ts
  packages/common/regexp/src/utils/is-regexp-str.ts
  packages/common/regexp/src/utils/matched-by-regexp.ts
Labels: comp: @angular-ru/common

#664 refactor(@angular-ru/ng-table-builder): extract css-variables
  packages/ng-table-builder/src/components/table-thead/table-thead.component.html
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/styles/cell.scss
  packages/ng-table-builder/src/styles/columns.scss
  packages/ng-table-builder/src/styles/common.scss
  packages/ng-table-builder/src/styles/icon.scss
  packages/ng-table-builder/src/styles/scrollbar.scss
  packages/ng-table-builder/src/styles/variables.scss
  packages/ng-table-builder/src/table-builder.component.html
  packages/ng-table-builder/src/table-builder.component.scss
Labels: comp: @angular-ru/ng-table-builder

#671 feat(@angular-ru/ng-excel-builder): support nullable entries
  packages/common/docs/typings.md
  packages/common/typings/src/nullable.ts
  packages/common/typings/src/public_api.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/interfaces/excel-worksheet.ts
Labels: comp: @angular-ru/common, comp: @angular-ru/ng-excel-builder

#673 feat(@angular-ru/common): support nullable values when update array
  packages/common/array/src/update-array.ts
  packages/common/integration/tests/array/update-array.spec.ts
Labels: comp: @angular-ru/common

#682 feat(@angular-ru/common): support nullable for array utils
  packages/common/array/src/first-item.ts
  packages/common/array/src/public_api.ts
  packages/common/array/src/second-item.ts
  packages/common/array/src/take-first-item.ts
  packages/common/array/src/take-last-item.ts
  packages/common/array/src/take-second-item.ts
  packages/common/array/src/take-third-item.ts
  packages/common/array/src/third-item.ts
  packages/common/integration/tests/array/utility-arrays.spec.ts
  packages/common/pipes/src/mark-by-filter/mark-by-filter.pipe.ts
Labels: comp: @angular-ru/common

#683 feat(@angular-ru/ng-table-builder): add numeric filters
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.html
  packages/ng-table-builder/integration/app/src/samples/sample-fourteen/sample-fourteen.component.ts
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.properties.ts
  packages/ng-table-builder/src/services/filterable/filter-descriptor.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/filterable/filterable-message.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/services/filterable/table-filter-type.ts
  packages/ng-table-builder/tsconfig.app.json
Labels: comp: @angular-ru/ng-table-builder

#684 feat(@angular-ru/common): item functions type
  packages/common/array/src/take-first-item.ts
  packages/common/array/src/take-last-item.ts
  packages/common/array/src/take-second-item.ts
  packages/common/array/src/take-third-item.ts
  packages/common/docs/typings.md
  packages/common/typings/src/infinite-tuple.ts
  packages/common/typings/src/last-of-tuple.ts
  packages/common/typings/src/public_api.ts
  packages/common/typings/src/tuple-item.ts
  packages/common/typings/src/tuple.ts
Labels: comp: @angular-ru/common

#685 feat(@angular-ru/ng-table-builder): support nullable
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/table-cell/table-cell.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/types/table-sort-types.ts
Labels: comp: @angular-ru/ng-table-builder

#693 feat(@angular-ru/ng-table-builder): support Nullable type
  packages/ng-table-builder/integration/app/src/samples/sample-eight/sample-eight.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-eleven/sample-eleven.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-first-second/sample-first-second.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-first/sample-first.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-sixteen/sample-sixteen.component.ts
  packages/ng-table-builder/integration/app/src/samples/sample-third/sample-third.component.ts
  packages/ng-table-builder/integration/app/src/shared/dialog-template/dialog-template.component.ts
  packages/ng-table-builder/integration/tests/directives/auto-height.directive.spec.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-column/ngx-column.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-menu-content-place/ngx-menu-content.component.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu.component.ts
  packages/ng-table-builder/src/components/ngx-filter-viewer/ngx-filter-viewer.component.ts
  packages/ng-table-builder/src/components/ngx-filter/ngx-filter.component.ts
  packages/ng-table-builder/src/components/table-cell/table-cell.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/components/table-thead/table-thead.component.ts
  packages/ng-table-builder/src/directives/abstract-modal-view-layer.directive.ts
  packages/ng-table-builder/src/directives/auto-height.directive.ts
  packages/ng-table-builder/src/directives/column-options.directive.ts
  packages/ng-table-builder/src/directives/ngx-filter.directive.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/directives/rows/abstract-template-cell-common.directive.ts
  packages/ng-table-builder/src/directives/rows/template-body-td.directive.ts
  packages/ng-table-builder/src/directives/rows/template-head-th.directive.ts
  packages/ng-table-builder/src/directives/table-content.directive.ts
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
  packages/ng-table-builder/src/interfaces/select-from-table-result.ts
  packages/ng-table-builder/src/interfaces/table-builder.external.ts
  packages/ng-table-builder/src/interfaces/table-builder.internal.ts
  packages/ng-table-builder/src/operators/get-valid-html-boolean-attribute.ts
  packages/ng-table-builder/src/operators/get-valid-predicate.ts
  packages/ng-table-builder/src/operators/select-from-table-by.ts
  packages/ng-table-builder/src/pipes/disable-row.pipe.ts
  packages/ng-table-builder/src/services/context-menu/context-menu-state.ts
  packages/ng-table-builder/src/services/context-menu/context-menu.service.ts
  packages/ng-table-builder/src/services/draggable/draggable.service.ts
  packages/ng-table-builder/src/services/filterable/filter-event.ts
  packages/ng-table-builder/src/services/filterable/filter-global-opts.ts
  packages/ng-table-builder/src/services/filterable/filter-state-event.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
  packages/ng-table-builder/src/services/resizer/resizable.service.ts
  packages/ng-table-builder/src/services/selection/selection-range.ts
  packages/ng-table-builder/src/services/selection/selection.service.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/ng-table-builder/src/types/table-sort-types.ts
Labels: comp: @angular-ru/ng-table-builder

#695 fix(@angular-ru/ng-table-builder): fix scrollbar styles
  packages/ng-table-builder/src/styles/scrollbar.scss
Labels: comp: @angular-ru/ng-table-builder

#696 fix(@angular-ru/ng-table-builder): fix null values filter errors
  packages/ng-table-builder/integration/tests/components/table-builder.component.spec.ts
  packages/ng-table-builder/integration/tests/helpers/utils/mocks-generator.ts
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/services/filterable/filter.worker.ts
Labels: comp: @angular-ru/ng-table-builder

#697 fix(ng-table-builder): added update view on changes
  packages/ng-table-builder/src/config/table-global-options.ts
  packages/ng-table-builder/src/table-builder.component.ts
Labels: comp: @angular-ru/ng-table-builder

#698 ci: commitlint head-max-length 100
  packages/commitlint-config/index.js
Labels: comp: @angular-ru/commitlint-config

#699 feat(ng-excel-builder): add EntriesKeys to public api
  packages/ng-excel-builder/src/public_api.ts
Labels: comp: @angular-ru/ng-excel-builder

#703 fix(@angular-ru/ng-table-builder): emit clear filter event only on di…
  packages/ng-table-builder/src/services/filterable/filterable.service.ts
Labels: comp: @angular-ru/ng-table-builder

#700 feat(@angular-ru/ng-excel-builder): add column width feature & refactor
  packages/common/integration/tests/table-utils/table-utils.spec.ts
  packages/common/table-utils/package.json
  packages/common/table-utils/src/interfaces/input-descriptor.ts
  packages/common/table-utils/src/interfaces/rules-descriptor.ts
  packages/common/table-utils/src/plain-table-composer.module.ts
  packages/common/table-utils/src/plain-table-composer.service.ts
  packages/common/table-utils/src/public_api.ts
  packages/ng-excel-builder/integration/tests/excel.service.spec.ts
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-1-simple.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-2-by-keys.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-3-exclude-keys.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-4-options.xls
  packages/ng-excel-builder/integration/tests/helpers/file-suites/test-5-translate.xls
  packages/ng-excel-builder/integration/tests/helpers/file-utils.ts
  packages/ng-excel-builder/jest.config.js
  packages/ng-excel-builder/package.json
  packages/ng-excel-builder/setup-jest.ts
  packages/ng-excel-builder/src/domain/column-parameters.ts
  packages/ng-excel-builder/src/domain/column-width.ts
  packages/ng-excel-builder/src/domain/entries-keys.ts
  packages/ng-excel-builder/src/domain/excel-builder-text-column-interceptor.ts
  packages/ng-excel-builder/src/domain/excel-key-deep-size.ts
  packages/ng-excel-builder/src/domain/excel-workbook.ts
  packages/ng-excel-builder/src/domain/excel-worksheet.ts
  packages/ng-excel-builder/src/domain/export-excel-by-entries.ts
  packages/ng-excel-builder/src/domain/prepared-excel-workbook.ts
  packages/ng-excel-builder/src/domain/prepared-excel-worksheet.ts
  packages/ng-excel-builder/src/excel-builder-default-text-column-interceptor.service.ts
  packages/ng-excel-builder/src/excel-builder.module.ts
  packages/ng-excel-builder/src/excel-builder.service.ts
  packages/ng-excel-builder/src/excel-interceptor-text.token.ts
  packages/ng-excel-builder/src/excel.service.ts
  packages/ng-excel-builder/src/ngx-translate/excel-ngx-translate.interceptor.ts
  packages/ng-excel-builder/src/public_api.ts
  packages/ng-excel-builder/tsconfig.app.json
  packages/ng-excel-builder/tsconfig.spec.json
Labels: comp: @angular-ru/common, comp: @angular-ru/ng-excel-builder

#701 feat(@angular-ru/common): add declinationOfNumber
  packages/common/integration/tests/utils/declination.spec.ts
  packages/common/utils/src/declination-of-number/declination-dictionary.ts
  packages/common/utils/src/declination-of-number/declination-of-number.ts
  packages/common/utils/src/public_api.ts
Labels: comp: @angular-ru/common

#702 ci: add autocommit
  .github/workflows/workflow.yml
  package.json
  packages/common/array/src/is-empty-list.ts
  packages/common/array/src/is-multiple-list.ts
  packages/common/array/src/is-single-list.ts
  packages/common/directives/src/trim-input/trim-input.directive.ts
  packages/common/ivy/src/utils/use-injector.ts
  packages/common/node.js/src/typescript/expose-ts-compiler-options-by-ts-config.ts
  packages/common/webworker/src/worker-thread.service.ts
  packages/http/decorators/src/internal/ensure-method-args-registry.ts
  packages/http/src/services/limit-concurency.service.ts
  packages/logger/src/logger.service.ts
  packages/logger/src/services/group-factory.service.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/components/ngx-context-menu/ngx-context-menu-item/ngx-context-menu-item.component.ts
  packages/ng-table-builder/src/components/table-tbody/table-tbody.component.ts
  packages/ng-table-builder/src/directives/observer-view.directive.ts
  packages/ng-table-builder/src/directives/virtual-for.directive.ts
  packages/ng-table-builder/src/pipes/disable-row.pipe.ts
  packages/ng-table-builder/src/services/context-menu/context-menu-state.ts
  packages/ng-table-builder/src/services/draggable/draggable.service.ts
  packages/ng-table-builder/src/services/selection/selection.ts
  packages/ng-table-builder/src/services/sortable/sort.worker.ts
  packages/ng-table-builder/src/services/sortable/sortable.service.ts
  packages/ng-table-builder/src/services/template-parser/template-parser.service.ts
  packages/ng-table-builder/src/table-builder.component.ts
  packages/tooltip/src/tooltip.directive.ts
Labels: comp: @angular-ru/common, comp: @angular-ru/http, comp: @angular-ru/logger, comp: @angular-ru/ng-table-builder, comp: @angular-ru/tooltip

#705 feat(@angular-ru/common): add DeclinationOfNumberPipe
  packages/common/docs/pipes.md
  packages/common/pipes/src/declination-of-number/declination-of-number-pipe.module.ts
  packages/common/pipes/src/declination-of-number/declination-of-number.pipe.ts
  packages/common/pipes/src/public_api.ts
Labels: comp: @angular-ru/common

#706 feat(@angular-ru/common): remove deprecated utils from */zone.js
  packages/common/zone.js/src/_noop.ts
  packages/common/zone.js/src/public_api.ts
  packages/common/zone.js/src/unpatch-events.ts
  packages/common/zone.js/unpatch-zone/src/unpatch-events.ts
Labels: comp: @angular-ru/common

#708 feat(@angular-ru/common): improved tryParseJson
  packages/common/utils/src/try-parse-json.ts
Labels: comp: @angular-ru/common
