Repository Angular-RU/angular-ru-sdk, pull requests merged in 2021-05, with the labels that each got.

#636 fix(@angular-ru/ng-table-builder): fix selectedItems pipe
  packages/ng-table-builder/integration/tests/samples/lifecycle/lifecycle.spec.ts
  packages/ng-table-builder/src/abstract-table-builder-api.directive.ts
  packages/ng-table-builder/src/pipes/table-selected-items.pipe.ts
Labels: comp: @angular-ru/ng-table-builder

#638 feat(@angular-ru/ng-excel-builder): changed format
  packages/ng-excel-builder/src/excel-builder.service.ts
Labels: comp: @angular-ru/ng-excel-builder

#643 fix(common): changed tests that brakes on Windows
  packages/common/integration/tests/number/number.spec.ts
  packages/common/integration/tests/pipes/number-format.spec.ts
Labels: comp: @angular-ru/common
