Repository Angular-RU/angular-ru-sdk, pull requests merged in 2022-07, with the labels that each got.

#1319 fix: non-disappearing tooltip
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
Labels: comp: @angular-ru/cdk

#1322 ci: fix semver not pushing git tags on empty commit
  .github/workflows/release.yml
  libs/cdk/package.json
  libs/commitlint/package.json
  libs/dev-dependencies/package.json
  libs/eslint-config-enterprise/package.json
  libs/eslint-plugin-enterprise/package.json
  libs/jest/package.json
  libs/prettier/package.json
  libs/renovate/package.json
  libs/typescript/package.json
Labels: comp: @angular-ru/jest, comp: @angular-ru/dev-dependencies, comp: @angular-ru/eslint-plugin-enterprise, comp: @angular-ru/eslint-config-enterprise, comp: @angular-ru/commitlint, comp: @angular-ru/cdk, comp: @angular-ru/typescript, comp: @angular-ru/prettier, comp: @angular-ru/renovate

#1323 ci: fix release
  libs/commitlint/project.json
  libs/dev-dependencies/project.json
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/prettier/project.json
  libs/renovate/project.json
  libs/typescript/project.json
Labels: comp: @angular-ru/jest, comp: @angular-ru/dev-dependencies, comp: @angular-ru/eslint-plugin-enterprise, comp: @angular-ru/eslint-config-enterprise, comp: @angular-ru/commitlint, comp: @angular-ru/typescript, comp: @angular-ru/prettier, comp: @angular-ru/renovate

#1324 fix: filter descriptor to contain one of several values
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
  libs/cdk/virtual-table/src/services/filterable/table-filter-type.ts
Labels: comp: @angular-ru/cdk
