Repository Angular-RU/angular-ru-sdk, pull requests merged in 2022-01, with the labels that each got.

#1191 ci: decomposition actions
  .github/workflows/autorebase.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/ng-check.yml
  .github/workflows/test.yml
  .scripts/utils/is-error.ts
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/jest/src/constants/configurations.ts
  dev-infra/jest/src/utils/create-ts-jest-config.ts
  packages/cdk/package.json
Labels: comp: @angular-ru/jest, comp: @angular-ru/eslint-config-enterprise, comp: @angular-ru/cdk

#1194 Ci/feat
  .github/actions/git/action.yml
  .github/workflows/autorebase.yml
  .github/workflows/verify-ng.yml
  .gitignore
  .scripts/clean.ts
  dev-infra/eslint-config-enterprise/jest.config.js
  dev-infra/jest/jest.config.js
  packages/cdk/integration/tests/jest/jest.config.js
  packages/cdk/integration/tests/karma/karma.conf.js
  packages/cdk/package.json
  packages/ngxs/integration/tests/jest.config.js
Labels: comp: @angular-ru/jest, comp: @angular-ru/eslint-config-enterprise, comp: @angular-ru/cdk

#1196 ci: decomposition actions
  .github/actions/git/action.yml
  .github/actions/nodejs/action.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
  dev-infra/eslint-config-enterprise/jest.config.js
  packages/cdk/integration/tests/jest/jest.config.js
Labels: comp: @angular-ru/eslint-config-enterprise, comp: @angular-ru/cdk

#1199 ci: decomposition actions (#1196) (#1198)
  .github/actions/autopush/action.yml
  .github/actions/git/action.yml
  .github/workflows/labeler.yml
  .github/workflows/test.yml
  dev-infra/commitlint/package.json
  dev-infra/dev-dependencies/package.json
  dev-infra/eslint-config-enterprise/package.json
  dev-infra/eslint-plugin-enterprise/package.json
  dev-infra/jest/package.json
  dev-infra/prettier/package.json
  dev-infra/renovate/package.json
  dev-infra/typescript/package.json
  packages/cdk/package.json
  packages/ngxs/package.json
Labels: comp: @angular-ru/jest, comp: @angular-ru/dev-dependencies, comp: @angular-ru/eslint-plugin-enterprise, comp: @angular-ru/eslint-config-enterprise, comp: @angular-ru/commitlint, comp: @angular-ru/cdk, comp: @angular-ru/typescript, comp: @angular-ru/prettier, comp: @angular-ru/renovate

#1213 build: mark target's dependencies in global config
  .github/workflows/test.yml
  libs/cdk/jest.config.js
  libs/cdk/project.json
  libs/cdk/tests/date/shift-date.spec.ts
  libs/eslint-config-enterprise/jest.config.js
  libs/eslint-config-enterprise/project.json
  libs/eslint-plugin-enterprise/project.json
  libs/jest/project.json
  libs/jest/src/interfaces/jest-config-options.ts
  libs/jest/src/utils/create-ts-jest-config.ts
Labels: comp: @angular-ru/jest, comp: @angular-ru/eslint-plugin-enterprise, comp: @angular-ru/eslint-config-enterprise, comp: @angular-ru/cdk

#1215 fix: changed table scroll
  libs/cdk/virtual-table/src/styles/common.scss
Labels: comp: @angular-ru/cdk

#1216 refactor: changes on table-builder module
  libs/cdk/virtual-table/src/table-builder.module.ts
Labels: comp: @angular-ru/cdk

#1220 fix(cdk): support numbers and booleans in table filter
  libs/cdk/tests/virtual-table/components/table-builder.component.spec.ts
  libs/cdk/virtual-table/src/services/filterable/filter.worker.ts
Labels: comp: @angular-ru/cdk

#1221 feat(cdk): correct `trim` function signature
  libs/cdk/string/src/trim.ts
Labels: comp: @angular-ru/cdk
