Repository Angular-RU/angular-ru-sdk, pull requests merged in 2023-01, with the labels that each got.

#1389 feat: enable preserveConstEnums for buildable libs (#1387)
  libs/cdk/tsconfig.lib.json
  libs/ngxs/tsconfig.lib.json
Labels: comp: @angular-ru/cdk

#1390 build: update dependency rimraf to v4
  package-lock.json
  package.json
Labels: renovate, major

#1383 build: update dependency ngx-mask to v15
  package-lock.json
  package.json
Labels: renovate, major

#1410 fix: use compilationMode `partial` for libraries #1409
  libs/cdk/tsconfig.lib.json
  libs/ngxs/tsconfig.lib.json
Labels: comp: @angular-ru/cdk

#1397 build: update dependency rxjs to v7.8.0
  package-lock.json
  package.json
Labels: renovate, minor/patch

#1404 build: update dependency lint-staged to v13
  libs/dev-dependencies/package.json
  package-lock.json
Labels: renovate, major, comp: @angular-ru/dev-dependencies

#1403 build: update dependency @types/node to v18
  libs/dev-dependencies/package.json
  package-lock.json
Labels: renovate, major, comp: @angular-ru/dev-dependencies

#1400 build: update actions/checkout action to v3
  .github/workflows/renovate.yml
Labels: renovate, major

#1402 build: update commitlint dependencies to v17
  libs/commitlint/package.json
  package-lock.json
Labels: renovate, major, comp: @angular-ru/commitlint

#1393 build: update dependency tslib to v2.4.1
  package-lock.json
  package.json
Labels: renovate, minor/patch

#1394 build: update eslint dependencies (patch)
  libs/eslint-config-enterprise/package.json
  package-lock.json
Labels: renovate, minor/patch, comp: @angular-ru/eslint-config-enterprise

#1411 fix: make selection in table work on command key on Mac
  libs/cdk/tests/utils/utils.spec.ts
  libs/cdk/utils/src/is-mac-os.ts
  libs/cdk/utils/src/public_api.ts
  libs/cdk/virtual-table/src/services/selection/selection.service.ts
Labels: comp: @angular-ru/cdk

#1424 feat: make it possible to use column headers with dots
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.html
  libs/cdk/virtual-table/src/components/table-cell/table-cell.component.ts
  libs/cdk/virtual-table/src/components/table-tbody/table-tbody.component.html
  libs/cdk/virtual-table/src/components/table-tbody/table-tbody.component.ts
  libs/cdk/virtual-table/src/table-builder.component.html
Labels: comp: @angular-ru/cdk

#1413 build: update dependency prettier to v2.8.3
  libs/prettier/package.json
  package-lock.json
Labels: renovate, minor/patch, comp: @angular-ru/prettier

#1412 build: update all dependencies (minor/patch) (patch)
  .github/workflows/autorebase.yml
  libs/dev-dependencies/package.json
  package-lock.json
  package.json
Labels: renovate, minor/patch, comp: @angular-ru/dev-dependencies
