Repository Angular-RU/angular-ru-sdk, pull requests merged in 2023-02, with the labels that each got.

#1425 fix: make table rerender when table keys change
  libs/cdk/virtual-table/src/abstract-table-builder-api.directive.ts
  libs/cdk/virtual-table/src/table-builder.component.ts
Labels: comp: @angular-ru/cdk

#1426 build: update dependency @types/node to v18.11.19
  libs/dev-dependencies/package.json
  package-lock.json
Labels: renovate, minor/patch, comp: @angular-ru/dev-dependencies

#1416 build: update dependency prettier-plugin-packagejson to v2.4.0
  libs/prettier/package.json
  package-lock.json
Labels: renovate, minor/patch, comp: @angular-ru/prettier

#1430 build: update commitlint dependencies to v17.4.3 (patch)
  libs/commitlint/package.json
  package-lock.json
Labels: renovate, minor/patch, comp: @angular-ru/commitlint

#1428 build: update dependency @types/node to v18.13.0
  libs/dev-dependencies/package.json
  package-lock.json
Labels: renovate, minor/patch, comp: @angular-ru/dev-dependencies

#1429 build: update dependency prettier to v2.8.4
  libs/prettier/package.json
  package-lock.json
Labels: renovate, minor/patch, comp: @angular-ru/prettier

#1427 build: update dependency lint-staged to v13.1.1
  libs/dev-dependencies/package.json
  package-lock.json
Labels: renovate, minor/patch, comp: @angular-ru/dev-dependencies

#1439 build: update dependency @types/node to v18.14.1
  libs/dev-dependencies/package.json
  package-lock.json
Labels: renovate, minor/patch, comp: @angular-ru/dev-dependencies

#1440 fix(eslint-config-enterprise): update eslint-plugin-html
  libs/eslint-config-enterprise/package.json
  package-lock.json
Labels: comp: @angular-ru/eslint-config-enterprise

#1441 build: update dependency cosmiconfig to v8
  libs/eslint-config-enterprise/package.json
  package-lock.json
Labels: renovate, major, comp: @angular-ru/eslint-config-enterprise

#1432 build: update all dependencies (minor/patch) (minor)
  .github/workflows/renovate.yml
  apps/flex-layout-demo/index.html
  apps/virtual-table-demo/index.html
  libs/dev-dependencies/package.json
  libs/prettier/package.json
  package-lock.json
  package.json
Labels: renovate, minor/patch, comp: @angular-ru/dev-dependencies, comp: @angular-ru/prettier

#1444 build: update renovatebot/github-action action to v34.153.1
  .github/workflows/renovate.yml
Labels: renovate, minor/patch
